{% if page.image %}
<div class="entry-featured-image">
    {% if page.image contains ".webm" %}
        <video autoplay="autoplay" loop="loop" width="100%">
            <source src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}" type="video/webm">
            <p>{% if page.alt %}{{page.alt}}{% else %}{{page.title}}{% endif %}"</p>
        </video>
    {% else %}
        {% if site.lazyimages == "enabled" %}
        <img class="featured-image lazyimg {% if page.imageshadow %} image-shadow {% endif %}"
                 src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII="
                 data-src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}"
            alt="{% if page.alt %}{{page.alt}}{% else %}{{page.title}}{% endif %}">
        {% else %}
            <img class="featured-image {% if page.imageshadow %} image-shadow {% endif %}"
                 src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}"
            alt="{% if page.alt %}{{page.alt}}{% else %}{{page.title}}{% endif %}">
        {% endif %}
    {% endif %}
</div>
{% endif %}
